html(lang='en')
  head
    title Create Task
    link(rel='stylesheet', href='https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css')
    // Custom styles for this template
    link(rel='stylesheet', href='https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css')
  body.text-center
    form.form-signin(action='/create', method='post')
      h2.mb-3.font-weight-normal Create Task
      p
      input#name.form-control(type='text', name='name', placeholder='Task Name', required='required', autofocus='autofocus')
      |     Deadline: 
      input(type='date', name='deadline')
      br
      input(type='radio', name='priority', value='normal', checked='')
      |  Normal
      br
      input(type='radio', name='priority', value='high')
      |  High
      br
      input(type='radio', name='priority', value='low')
      |  LOW
      br
      p
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit
      p.mt-5.mb-3.text-muted © Todo
