html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title No Tasks
    // Bootstrap core CSS
    link(href='https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/sticky-footer-navbar.css', rel='stylesheet')
  body
    header
      h1 OOPS!! There are no tasks to show. 
    footer.footer
      .container
        span.text-muted © todo.
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script.
      window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/jquery-slim.min.js"><\\/script>')
    script(src='https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js')
    script(src='https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js')
