html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title All Tasks
    // Bootstrap core CSS
    link(href='https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='https://getbootstrap.com/docs/4.0/examples/cover/cover.css', rel='stylesheet')
  body.text-center
    .cover-container.d-flex.h-100.p-3.mx-auto.flex-column
      header.masthead.mb-auto
        .inner
          h3.masthead-brand All Tasks
          nav.nav.nav-masthead.justify-content-center
            a.nav-link.active(href='/create') Tasks
            a.nav-link(href='#') Update
            a.nav-link(href='#') Delete
      main.inner.cover(role='main')
        h1.cover-heading Your TODO List
        h6 Task: 
            =name
        h6 Created Date : 
            =createdDate
        h6 ID : 
            =taskID
        p.lead
          a.btn.btn-lg.btn-secondary(href='/tasks/'+taskID) View Task
      footer.mastfoot.mt-auto
        .inner
          p
            | © Todo 
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script.
      window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/jquery-slim.min.js"><\\\/script>')
    script(src='https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js')
    script(src='https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js')
